[package]
name = "rowifi"
version = "2.7.2"
authors = ["Gautam.A <gautam.abhyankar@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bson = "1"
chrono = "0"
dashmap = "3"
dotenv = "0"
futures = "0"
hyper = "0"
image = "0.23"
itertools = "0"
lazy_static = "1"
mongodb = "1"
patreon = { branch = "main", git = "https://github.com/AsianIntel/patreon" }
prometheus = "0"
rand = "0"
regex = "1"
reqwest = { version = "0.10", default-features = false, features = ["json", "rustls-tls"] }
roblox = { branch = "main", git = "https://github.com/AsianIntel/roblox" }
rowifi-cache = { path = "../cache" }
rowifi-database = { path = '../database' }
rowifi-framework = { path = '../framework' }
rowifi-models = { path = "../models" }
plotters = { version = "0.3", default-features = false, features = ["bitmap_backend", "datetime", "line_series"] }
tokio = { version = "0.2", features = ["rt-threaded", "macros", "time"] }
tracing = "0.1"
tracing-subscriber = "0.2"
twilight-embed-builder = { version = "0.2" }
twilight-gateway = { version = "0.2", features = ["simd-zlib", "simd-json"] }
twilight-http = { version = "0.2" }
twilight-mention = { version = "0.2" }
twilight-model = { version = "0.2" }
twilight-standby = { version = "0.2" }