[package]
name = "rowifi"
version = "3.0.0-alpha-4"
authors = ["Gautam.A <gautam.abhyankar@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0"
dashmap = "4"
dotenv = "0"
futures = "0"
hyper = { version = "0", features = ["server", "client"] }
hyper-rustls = { version = "0", default-features = false, features = ["webpki-tokio"] }
image = "0.23"
itertools = "0"
lazy_static = "1"
mongodb = { branch = "master", git = "https://github.com/mongodb/mongo-rust-driver" }
patreon = { branch = "main", git = "https://github.com/AsianIntel/patreon" }
prometheus = "0"
rand = "0.8"
regex = "1"
reqwest = { version = "0", default-features = false, features = ["json", "rustls-tls"] }
roblox = { branch = "main", git = "https://github.com/AsianIntel/roblox" }
rowifi-cache = { path = "../cache" }
rowifi-database = { path = '../database' }
rowifi-framework = { path = '../framework' }
rowifi-models = { path = "../models" }
plotters = { version = "0.3", default-features = false, features = ["bitmap_backend", "datetime", "line_series"] }
tokio = { version = "1", features = ["rt-multi-thread", "macros", "time"] }
tokio-stream = "0"
tower = "0"
tracing = "0"
tracing-subscriber = "0"
twilight-embed-builder = { branch = "feature/slash", git = "https://github.com/Erk-/twilight" }
twilight-gateway = { branch = "feature/slash", git = "https://github.com/Erk-/twilight", features = ["simd-zlib", "simd-json"] }
twilight-http = { branch = "feature/slash", git = "https://github.com/Erk-/twilight" }
twilight-mention = { branch = "feature/slash", git = "https://github.com/Erk-/twilight" }
twilight-model = { branch = "feature/slash", git = "https://github.com/Erk-/twilight" }
twilight-standby = { branch = "feature/slash", git = "https://github.com/Erk-/twilight" }